* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 10px;
}

P {
    display: inline-block;
}

li {
    list-style: none;
}

main {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.ui-widget {
    margin-bottom: 10px;
}

.input:focus,
.input:hover {
    outline: none;
    border: none;
}

button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover,
button:focus {
    outline: none;
    transform: scale(1.1);
}

.header-navigate,
.footer-navigate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
    height: 50px;
    background-color: #9FB6CD;
}

.map {
    width: 100%;
    height: 100%;
}

.menu {
    border: 1px solid black;
    width: 600px;
    padding: 20px;
    background: #B9D3EE;
}

.test-mode,
.game-mode {
    display: none;
}

.test-mode_title {
    margin-bottom: 20px;
}

#tags {
    width: 250px;
}

.start-info,
.test-mode,
.game-mode {
    margin-bottom: 20px;
}

.start-info_text {
    margin-bottom: 10px;
}

.control_mode_form_input {
    margin-bottom: 10px;
}

.search-object {
    padding: 5px;
}

.search-object_button {
    display: inline-block;
    padding: 5px;
    margin: 0;
    border: 1px solid red;
    background: rgba(0, 0, 0, 0);
}

.search-object_button:hover,
.search-object_button:focus {
    transform: scale(1.1);
    background: yellow;
}

.additionalUserOptions_container_info {
    padding: 10px;
}

.additionalUserOptions_container_info input {
    padding: 5px;
    border-radius: 5px;
}

.additionalUserOptions_container_info button {
    display: inline-block;
}

.additionalUserOptions_container_info_input-add {
    margin-right: 5px;
}

.game-mode_step-1_form_input-numberOfCities {
    margin: 10px 0;
    padding: 5px;
}